{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block content %}
<h1>{{ article.title }}</h1>
<ul id="navbar">
    <li><a id="toplink" href="#" title="Haut de la page"><i class="icon-chevron-up"></i></a></li>
    <li><a href="{{ SITEURL }}/" title="Tous les articles"><i class="icon-chevron-left"></i></a></li>
    <li><a id="botlink" href="#bottom" title="Bas de la page"><i class="icon-chevron-down"></i></a></li>
    <li><a href="https://twitter.com/intent/tweet?url={{ 'http://blog.henriet.eu/'|quoteplus + article.url|quoteplus }}&via=henrietalex"
           title="Partager sur Twitter"><i class="icon-twitter"></i></a></li>
</ul>
<div id="toc"></div>
{{ article.content }}
<p class="last-update">Dernière mise à jour le {{ article.date.strftime('%d/%m/%Y') }}</p>
{% endblock %}
{% block footer %}
<a class="backtop" href="#" title="Haut de la page"><i class="icon-chevron-up"></i></a>
<h2><i class="icon-angle-right"></i> <a href="{{ SITEURL }}/" title="Tous les articles">Tous les articles</a></h2>
<div id="bottom"></div>
{% endblock %}
{% block javascript %}
<script src="{{ SITEURL }}/theme/js/main.js"></script>
{% endblock %}
