<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{%block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="description" content="Blog personnel de {{ AUTHOR }}">
    <meta name="keywords" content="{{ AUTHOR }} Blog PHP Python Ruby PHP Linux"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/theme/favicon.ico" />
    <link rel="alternate" type="application/atom+xml" title="Flux atom" href="{{ SITEURL }}/feeds/all-fr.atom.xml">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/merged.min.css">
    <script src="{{ SITEURL }}/theme/js/merged.min.js"></script>
  </head>
  <body id="{% block mainid %}HOME{% endblock %}">
    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          {% block content %}{% endblock %}
        </article>
      </div>
    </div>
    <div class="footer-container">
      <div class="footer wrapper clearfix">
        {% block footer %}{% endblock %}
      </div>
    </div>
  </body>
</html>
