@font-face {
    font-family: 'YanoneKaffeesatzThin';
    src: url('/theme/fonts/YanoneKaffeesatz-Thin-webfont.eot');
    src: url('/theme/fonts/YanoneKaffeesatz-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/theme/fonts/YanoneKaffeesatz-Thin-webfont.woff') format('woff'),
         url('/theme/fonts/YanoneKaffeesatz-Thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'YanoneKaffeesatzLight';
    src: url('/theme/fonts/YanoneKaffeesatz-Light-webfont.eot');
    src: url('/theme/fonts/YanoneKaffeesatz-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/theme/fonts/YanoneKaffeesatz-Light-webfont.woff') format('woff'),
         url('/theme/fonts/YanoneKaffeesatz-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'YanoneKaffeesatzRegular';
    src: url('/theme/fonts/YanoneKaffeesatz-Regular-webfont.eot');
    src: url('/theme/fonts/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/theme/fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'),
         url('/theme/fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'YanoneKaffeesatzBold';
    src: url('/theme/fonts/YanoneKaffeesatz-Bold-webfont.eot');
    src: url('/theme/fonts/YanoneKaffeesatz-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/theme/fonts/YanoneKaffeesatz-Bold-webfont.woff') format('woff'),
         url('/theme/fonts/YanoneKaffeesatz-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #fff;
    color: #333;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'YanoneKaffeesatzRegular';
    font-weight: normal;
    color: #333;
    margin: 0 0 10px 0;
    padding:0;
}

h1 {
    margin-bottom: 25px;
}

h3 {
    color: #db4714;
}

a {
color: #1982D1;
text-decoration: none;
}

a:hover {
color: #235D88;
}

p {
margin: 0 0 20px 0;
padding: 0;
}

p.last-update {
  font-size: 0.8em;
  float: right;
}

a.backtop {
  float: right;
}

ul,ol {
padding:0;
list-style-type: disc;
margin: 0 0 20px 20px;
}

ul.naked, ol.naked {
list-style-type:none;
margin:0;
}

li p {
  margin: 0;
}

pre {
  font-size: 0.9em;
  background-color: #222222;
  overflow: auto;
  color: white;
  padding: .7em;
  margin-bottom: 30px;
  white-space: pre;
  word-wrap: normal;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

img.border {
    border: 1px solid #222;
    margin-bottom: 10px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.main-container {
    margin-top: 50px;
}

.main {
    padding: 30px 0;
}

.footer-container {
    margin-bottom: 100px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.footer p {
    font-size: 0.9em;
}

.ie7 .title {
    padding-top: 20px;
}

#rss {
    float: right;
}

#navbar {
    display: none;
    background: #1982D1;
    width: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
    position: fixed;
    top: 40%;
    right: 20px;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

#navbar a {
    color: #fff;
    font-weight: normal;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

#disqus_thread {
    margin-top: 70px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    .title {
        float: left;
    }

    .main article {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    #navbar {
        display: block;
    }

    .wrapper {
        width: 700px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1140px) {

}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
